@model Diraf.Models.Unidad

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unidad</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a Listado", "Index")
        </div>
    }
</div>
