@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <center><img src="@Url.Content("~/Images/Logo Chevrolevt.jpg")" width="130" height="65" alt="imgf" /></center>
    <center><h2>Unión Temporal Chevrolet Diraf 2017</h2></center>
</div>
    <center><div class="row"><div class="col-md-12"><div class="col-md-3"><img src="@Url.Content("~/Images/LOGO TN HB.jpg")" width="130" height="25" alt="imgf" /></div><div class="col-md-3"><img src="@Url.Content("~/Images/Logo_Automayor.jpg")" width="130" height="30" alt="imgf" /></div><div class="col-md-3"><img src="@Url.Content("~/Images/Logo_Autoniza.jpg")" width="130" height="25" alt="imgf" /></div><div class="col-md-3"><img src="@Url.Content("~/Images/Logo_Centrodiesel.jpg")" width="130" height="25" alt="imgf" /></div></div></div></center>

   <div class="row">
        <div class="col-md-12">
            <center><h2>Bienvenido</h2></center>
            <center><p>
                Esta pequeña aplicacion web fue desarrollada para ingresar los datos obtenidos en el desarrollo del contrato
                y en la cual tiene como principio la buena fe de cada uno de los Supervisores, Coordinador y Administrador,
                quienes serán sus usuarios e ingresarán y editarán la información, asi como su consistencia, veracidad
                y exactitud, donde todos y cada uno es responsable de estos aspectos, asi como de su uso y manejo.
            </p></center>

            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        @*<div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>
